
.profile-section p {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.favorite-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}