{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<h1 class="my-4">Products</h1>

<div class="d-flex flex-wrap gap-4">
    {% for product in products %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ product.product_name }}</h5>

        <p class="card-text">{{ product.description }}</p>

        <div class="card-price mb-4">{{ product.price }}$</div>

        <a class="btn btn-info w-100 mb-2" href="/product/{{ product.product_id}}">Details</a>

           {% if not user.role == 'admin' %}
              <form class='w-100 mb-2' method="POST" action='/add-to-cart/{{ product.product_id}}'>
                <button type="submit" class="btn btn-primary w-100">Add to Cart</button>
              </form>
          {% endif %}

          {% if not user.role == 'admin' %}
              <form class='w-100' method="POST" action='/add-to-favorites/{{ product.product_id}}'>
                <button type="submit" class="btn btn-success w-100">Add to Favorites</button>
              </form>
          {% endif %}
      </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}