{% extends 'base.html' %}

{% block content %}
    <h1 class='mb-2'>{{ product.product_name }}</h1>

    <p class='card-text'>{{ product.description }}</p>

    <div class='mb-4'>{{ product.price }}$</div>

    {% if user.role == 'admin' %}
        <a class='btn btn-info' href='/edit-product/{{ product.product_id}}'>Edit</a>
        <a class='btn btn-danger' href='/product/{{ product.product_id}}/delete'>Delete</a>
    {% endif %}

    {% if user.role == 'client' %}
        <form method="POST" action='/add-to-cart/{{ product.product_id}}'>
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
    {% endif %}

{% endblock content %}