{% extends "base.html" %}

{% block content %}

    <h1 class="mb-4">Registration</h1>

    <form method="POST">
        <input
                class="form-control mb-3"
                type="email"
                name="email"
                placeholder="Enter email"
        >

        <input
                class="form-control mb-3"
                type="password"
                name="password"
                placeholder="Enter password"
        >

        <input
                class="form-control"
                type="password"
                name="password"
                placeholder="Repeat password"
        >
    </form>

{% endblock content %}
